NODE_ENV=development
PORT=5000
CLIENT_URL=http://localhost:8080

DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=BNW
DB_USER=postgres
DB_PASSWORD=YOUR_DB_PASSWORD

JWT_ACCESS_SECRET=YOUR_JWT_ACCESS_SECRET
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_SECRET=YOUR_JWT_REFRESH_SECRET
JWT_REFRESH_EXPIRES=7d
